# Cache de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Entornos virtuales (si creas uno localmente)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Artefactos de empaquetado y distribución
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Variables de entorno
.env

# MacOS / Windows OS files
.DS_Store
Thumbs.db

# LaTeX compilados (Sólo queremos el .tex y el .pdf, ignoramos los temporales)
paper/*.aux
paper/*.log
paper/*.out
paper/*.toc
paper/*.bbl
paper/*.blg
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz

#MkDocs
site/
